<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{   
            background-color: indianred;

        }
        .Index_Options {
            float: right;
            margin: 26px;
            border: 2px solid pink;
            text-decoration: none;
            padding: 25px;
           
            width: 199px;
        }
        a
        {
            color:darkslateblue;    
        }

       
    </style>
</head>

<body>
    <div id="container">
    <h3>Welcome to my blog</h3>

    <div id="AddBlogContainer" class="Index_Options">
        <a href="./WriteBlog">Write Todays Blog</a>

    </div>
    <div id="ViewBlogContainer" class="Index_Options">
        <a href="./SearchBlog">View Saved Blog</a>

    </div>
    <br><br>
    <section>
        <h2>About me:</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, ad. Incidunt ullam illum earum consequatur aliquam a reprehenderit veniam? Aut impedit labore atque ratione ipsum! Iusto veritatis modi odio, magni blanditiis laboriosam aliquam sint ipsa alias obcaecati architecto accusantium sed nam inventore omnis fugiat non ratione tempora tenetur natus fuga? Iusto quia saepe corporis earum quisquam quo vitae mollitia optio facere officiis blanditiis inventore dicta, sequi esse? Quia, fugit consectetur! Impedit non quibusdam nemo necessitatibus consectetur asperiores, sed repellendus veniam aspernatur blanditiis vitae harum sit vero doloribus aliquid illum maiores debitis! Fuga alias reiciendis voluptatum fugiat non incidunt. Quaerat quas ad numquam facilis. Provident deleniti recusandae consequuntur vero accusamus vitae laboriosam eius saepe velit, nemo assumenda voluptate omnis aspernatur quod, pariatur voluptas atque. Inventore repellat ea tempora cumque rerum natus. Velit officia temporibus quas dolorum pariatur iusto incidunt, vel animi quibusdam eos totam quam exercitationem quo placeat eum fuga blanditiis minus tempora inventore ad voluptatem corporis consequatur. Nemo odit laborum, totam exercitationem delectus eligendi. Modi illo sequi eum pariatur ex quisquam sapiente fugiat repellat aut accusamus, atque eligendi possimus mollitia magnam totam sit alias dignissimos adipisci nihil aliquam nemo sed excepturi ipsum. Deserunt nostrum quam fugit asperiores esse dolore ducimus harum! Ipsum tempora adipisci nostrum eveniet eum vitae nemo aliquam placeat aspernatur, aut autem ratione iusto fuga accusantium nulla voluptatibus inventore, saepe aperiam. Quae culpa blanditiis ut sunt fugit velit, provident neque molestiae modi! Voluptatum ut illum soluta asperiores! Labore tenetur, blanditiis animi suscipit temporibus vero, deleniti praesentium eius, accusantium magni nulla sed dolores vitae repudiandae laborum natus libero aut fugiat reiciendis saepe quaerat in soluta? Cupiditate laboriosam odit tenetur cum, alias minima adipisci harum possimus architecto suscipit. Debitis quidem distinctio explicabo nemo excepturi laboriosam voluptatum suscipit blanditiis ea sit iste voluptas id iusto, maiores odio tempora totam itaque? Aut!</p>
        </section>
        <br><br>
        <section>
            <h2>Contact me:</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptates dicta magnam suscipit vitae velit repudiandae ipsa repellendus esse deleniti laborum beatae, nisi magni?</p>
            </section>
        </div>
</body>


</html>